@model SportAssoWebApp.Models.Inscription

@{
    ViewData["Title"] = "Création d'une inscription";
}


<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="AdherentId" class="control-label"></label>
                <select asp-for="AdherentId" class ="form-control" asp-items="ViewBag.AdherentId"></select>
            </div>
            <div class="form-group">
                <label asp-for="CreneauId" class="control-label"></label>
                <select asp-for="CreneauId" class ="form-control" asp-items="ViewBag.CreneauId"></select>
            </div>
            <div class="form-group">
                <label asp-for="IsPaid" class="control-label"></label>
                <input asp-for="IsPaid" class="form-control" />
                <span asp-validation-for="IsPaid" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DocumentsSubmitted" class="control-label"></label>
                <input asp-for="DocumentsSubmitted" class="form-control" />
                <span asp-validation-for="DocumentsSubmitted" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
