@model SportAssoWebApp.Models.Inscription

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Inscription</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="InscriptionId" />
            <div class="form-group">
                <label asp-for="AdherentId" class="control-label"></label>
                <select asp-for="AdherentId" class="form-control" asp-items="ViewBag.AdherentId"></select>
                <span asp-validation-for="AdherentId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CreneauId" class="control-label"></label>
                <select asp-for="CreneauId" class="form-control" asp-items="ViewBag.CreneauId"></select>
                <span asp-validation-for="CreneauId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IsPaid" class="control-label"></label>
                <input asp-for="IsPaid" class="form-control" />
                <span asp-validation-for="IsPaid" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DocumentsSubmitted" class="control-label"></label>
                <input asp-for="DocumentsSubmitted" class="form-control" />
                <span asp-validation-for="DocumentsSubmitted" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
